body {
  padding: 0px;
}

.d6-shadow {
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,0.2);
  border-radius: 50px;
  box-shadow: 0 0 24px rgba(0,0,0,0.45);
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.d6-wrapper {
  -webkit-perspective: 2000px;
          perspective: 2000px;
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.d6 {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.d6-white .d6-face {
  background-color: WhiteSmoke;
  color: DodgerBlue;
  outline: 2px rgba(0,0,0,0.1) solid;
}

.d6-face {
  width: 100px;
  height: 100px;
  position: absolute;

  outline: 2px rgba(255,255,255,0.1) solid;
  background-color: OrangeRed;
  color: white;
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  font-family: helvetica;
}

.d6-1 {
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
}
.d6-2 {
  -webkit-transform: rotateX(90deg) translateZ(50px);
          transform: rotateX(90deg) translateZ(50px);
}

.d6-5 {
  -webkit-transform: rotateX(-90deg) translateZ(50px);
          transform: rotateX(-90deg) translateZ(50px);
}

.d6-3 {
  -webkit-transform: rotateY(90deg) translateZ(50px);
          transform: rotateY(90deg) translateZ(50px);
}

.d6-4 {
  -webkit-transform: rotateY(-90deg) translateZ(50px);
          transform: rotateY(-90deg) translateZ(50px);
}

.d6-6 {
  -webkit-transform: rotateY(-180deg) translateZ(50px);
          transform: rotateY(-180deg) translateZ(50px);
}

dot {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: black;
}

.d6 dot {
  background-color: White;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}
.d6.d6-white dot {
  background-color: DodgerBlue;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}

.d6-2 dot:nth-child(1),
.d6-3 dot:nth-child(1),
.d6-4 dot:nth-child(1),
.d6-5 dot:nth-child(1),
.d6-6 dot:nth-child(1) {
  left: 15px;
  top: 15px;
}

.d6-1 dot:nth-child(1),
.d6-3 dot:nth-child(2),
.d6-5 dot:nth-child(3) {
  left: 40px;
  top: 40px;
}

.d6-2 dot:nth-child(2),
.d6-3 dot:nth-child(3),
.d6-4 dot:nth-child(4),
.d6-5 dot:nth-child(5),
.d6-6 dot:nth-child(6) {
  left: 65px;
  top: 65px;
}

.d6-4 dot:nth-child(2),
.d6-5 dot:nth-child(2),
.d6-6 dot:nth-child(2) {
  left: 65px;
  top: 15px;
}

.d6-4 dot:nth-child(3),
.d6-5 dot:nth-child(4),
.d6-6 dot:nth-child(5) {
  left: 15px;
  top: 65px;
}

.d6-6 dot:nth-child(3) {
  left: 15px;
  top: 40px;
}
.d6-6 dot:nth-child(4) {
  left: 65px;
  top: 40px;
}
